<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.javalogin">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:label="Yüz Tanıma Sistemi İle Yoklama Alma "
        android:supportsRtl="true"
        android:theme="@style/Theme.JavaLogin">

        <activity
            android:name=".deneme1"
            android:exported="false" />

        <activity
            android:name=".personAdapter"
            android:exported="false" />
        <activity
            android:name=".Person"
            android:exported="false" />
        <activity
            android:name=".Upload"
            android:exported="false" />
        <activity
            android:name=".ilkActivity"
            android:exported="false" />
        <activity
            android:name=".YoklamaListesiActivity"
            android:exported="false" />
        <activity
            android:name=".YoklamaAlmaActivity"
            android:exported="false" />
        <activity
            android:name=".DersOlusturmaActivity"
            android:exported="false" />
        <activity
            android:name=".OgrEklemeActivity"
            android:exported="false" />
        <activity
            android:name=".KytActivity"
            android:exported="false" />
        <activity
            android:name=".AnaEkranActivity"
            android:exported="false"/>


        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>